body{
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

/* --------------------------------------------
    NAVBAR
--------------------------------------------- */

#navbar {
  width: 100%;
  background: #7386D5;
  color: #fff;
  transition: 0.2s;
  transform-origin: bottom left;
  display: inline-block;
}

#navbar .active {
  opacity: 85%;
}

#navbar .col-md-2, .col-md-4{
  text-align: center;
  margin: 2% 0 2% 0;
  max-width: 13%;
}

.dropdown-item {
  color: black;
}

#navbar .col-md-2:hover, .col-md-4:hover{
  transform: scale(1.2);
  -webkit-transition: transform 0.2s ease;
}


#navbar a {
  font-size: 1.1em;
  width: 100%;
}

#navbar a.active, a[aria-expanded="true"] {
  color: #fff;
}

a {
  width: 100%;
  font-size: 20px !important;
  font-weight: bold;
  padding-left: 10% !important;

  text-decoration: none;
  color: #fff;
}

.image{
  float: right;
  width: 29%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top : 1%;
}

.all{
  height: 100%;
}

.leftside{
  width: 58%;
  height: 100%;
  float: left;
  margin-left: 3%;
}

.leftside .title{
  font-size: 150px;
  text-align: center;
  margin-top: 10%;
  font-family: sans-serif;
  color: white;
}

.leftside .text{
  font-size: 20px ;
  margin-top: 100px;
}

.btn.btn-info{
  width: 25%;
  font-size: 40px;
  margin-left: 37.5%;
  margin-right: 37.5%;
  margin-top: 100px;
  color: white;
  border-radius: 40px;
  height: auto;

}

