<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <h1>Numero Medico</h1>
    <div class="sidebar-header">
      <h3>Covinfo</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/home" >Home</a>
      </li>
      <li class="active">
        <a routerLink="/daily">Casos Diários</a>
      </li>
      <li>
        <a routerLink="/statistics">Estatística</a>
      </li>
      <li>
        <a routerLink="/hospital">Hospitais</a>
      </li>
      <li>
        <a routerLink="/aboutus">Sobre nós</a>
      </li>
      <li>
        <a routerLink="/login">Área profissionais de saúde</a>
      </li>
      <li>
        <a routerLink="/homeMedic">Pacientes</a>
      </li>
    </ul>
  </nav>


  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="search" id="filterCollapse">Filters <i class="fas fa-search"></i></button>

      </div>
    </nav>

    <div class="filters" id="filters" style="display: none">
      <h2 class="filter_title">Filters</h2>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
        <div class="row">
          <div class="col-2">
            <h5 class="idade_title">Idade</h5>
            <div class="idade_div">
              <input placeholder="min" min="0" id="idade_min" formControlName="idade_min" type="number">
              <input placeholder="max" min="0" id="idade_max" formControlName="idade_max" type="number">
            </div>
          </div>
          <div class="col-2">
            <h5 class="genero_title">Género</h5>
            <div class="genero_div">
              <select name="genero_option" id="g_options" formControlName="genero">
                <option hidden disabled selected value>Selecionar Opção</option>
                <option value=""></option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <h5 class="regiao_title">Região</h5>
            <div class="regiao_div">
              <select name="regiao_option" id="r_options" formControlName="regiao">
                <option hidden disabled selected value>Selecionar Opção</option>
                <option value=""></option>
                <option *ngFor="let regiao of regioes" value="{{regiao}}">{{regiao}}</option>
                <!-- NGFOR das regioes -->
              </select>
            </div>
          </div>
          <div class="col-2">
            <h5 class="nacionalidade_title">Nacionalidade</h5>
            <div class="nacionalidade_div">
              <select name="nacionalidade_option" id="n_options" formControlName="nacionalidade">
                <option hidden disabled selected value>Selecionar Opção</option>
                <option value=""></option>
                <option *ngFor="let nacionalidade of nacionalidades" value="{{nacionalidade}}">{{nacionalidade}}</option>
                <!-- NGFOR das nacionalidades -->
              </select>
            </div>
          </div>
          <div class="col-2">
            <h5 class="altura_title">Altura</h5>
            <div class="altura_div">
              <input placeholder="min" min="0" formControlName="altura_min" type="number">
              <input placeholder="max" min="0" formControlName="altura_max" type="number">
            </div>
          </div>
          <div class="col-2">
            <h5 class="peso_title">Peso</h5>
            <div class="peso_div">
              <input placeholder="min" min="0" formControlName="peso_min" type="number">
              <input placeholder="max" min="0" formControlName="peso_max" type="number">
            </div>
          </div>
        </div>
        <button class="btn btn-light" type="submit">Aplicar</button>
      </form>
    </div>


    <div class="row">
      <div class="col-2">
        <div class="card card-signin">
          <div style="text-align: center;" class="card-body">
            <h3>Casos ativos</h3>
            <h4>{{casosAtivos}}</h4>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-signin">
          <div style="text-align: center;" class="card-body">
            <h3>Casos recuperados</h3>
            <h4>{{casosRecuperados}}</h4>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-signin">
          <div style="text-align: center;" class="card-body">
            <h3>Internados</h3>
            <h4>{{casosInternados}}</h4>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-signin">
          <div style="text-align: center;" class="card-body">
            <h3>Cuidados Intensivos</h3>
            <h4>{{casosCuidadosIntensivos}}</h4>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-signin">
          <div style="text-align: center;" class="card-body">
            <h3>Mortos</h3>
            <h4>{{casosMortos}}</h4>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12">
        <div class="card card-signin">
          <div class="card-body">
            <h2 style="text-align: center;">Número de casos diários de infeções de covid-19</h2>
            <div id="allcasesgraph" style="height: 370px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>
</div>
